<div class="navbar">
    <div class="navbar-brand">
        <a class="navbar-item">
          <img src="./../../../../assets/img/mylogo.png" style="width:32px" alt="youtube">
        </a>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/">Home</a>
            <a class="navbar-item" routerLink="/contact">Contact</a>
        </div>
        <div class="navbar-end">
            <div class="navbar-item">
                <div class="field is-grouped">
                  <p class="control">
                    <a class="cat" href="https://twitter.com/neslihan_aydin_">
                        <img src="./../../../../assets/img/twitter.png" style="width:32px" alt="youtube">
                    </a>
                  </p>
                  <p class="control">
                    <a class="cat" href="https://github.com/neslihnaydn">
                        <img src="./../../../../assets/img/github.png" style="width:32px" alt="youtube">
                    </a>
                  </p>
                  <p class="control">
                    <a class="cat" href="https://www.linkedin.com/in/neslihanaydin/">
                        <img src="./../../../../assets/img/linkedin.png" style="width:32px" alt="youtube">
                    </a>
                  </p>
                </div>
              </div>
        </div>
    </div>
</div>



